.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.max-width-container {
  max-width: 800px;
}

.aside-pull {
  float: right;
}

.App {
  background-color: #e4ebef;
}
a {
  cursor: pointer;
}

.App-header {
  background-color: #343951;
  min-height: 5vh;
  color: #7c7c80;
  width: 100%;
}

.app-logo {
  margin: 15px;
}

.App-link {
  color: #61dafb;
}

nav {
  min-height: 5vh;
  background-color: #f9fafb;
}

.search-box {
  margin: 12px;
  padding: 6px;
  border-color: #eef3f6;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
}
.search-box:focus {
  border-width: 2px;
  border-color: #eef3f6;
}

.archive-checkbox {
  float: right;
  margin: 12px;
  padding: 6px;
  color: #7c7c80;
}

main {
  margin: 12px;
  min-height: 90vh;
  background-color: #e4ebef;
}

aside {
  font-weight: bold;
  margin: 12px 0;
  font-size: 12px;
  color: #a6acaf;
}

table {
  box-shadow: 1px 1px 5px #00000010;
  border-radius: 5px;
  width: 100%;
}
th {
  text-align: left;
  padding: 6px;
  background-color: #eef3f6;
  color: #7c7c80;
  font-weight: bold;
}

td {
  padding: 6px;
  background-color: #f9fafb;
  font-size: 12px;
  color: #7c7c80;
}

.img-box {
  display: flex;
  align-items: center;
}
.img-box span {
  padding: 6px;
}

.Active-Marker {
  color: #34b96f;
}

.archive-button {
  text-align: right;
}

.archive-button > a {
  color: #40aadb;
}

.unarchived {
  font-weight: bold;
  font-size: 12px;
}

.archived {
  font-weight: 400;
  font-size: 12px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
